
h1{
    font-family: 'Unbounded', cursive;
    font-size: 60px;
}
h2{
    font-family: 'Raleway', sans-serif;
}

.heading-wrap{
    padding: 130px;
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);    color: white;
    text-align: center;
    width: auto;
    min-width: 500px;

}
.eugene-photo{
    display: block;
    margin:  20px auto;
    min-width: 500px;
    
}
.btn-wrap {
   text-align: center;
   margin: 20px;
   
}
.self{
    max-width: 500px;
    max-height: 500px;
}
.about-heading{
    margin: 50px;
}

img{
 border-radius: 10px;
}
