
h1{
    font-family: 'Unbounded', cursive;
    font-size: 60px;
}
h2{
    font-family: 'Raleway', sans-serif;
}
img{
 border-radius: 10px;
 margin: 30px;
 display: inline;
 max-width: 500px;
}
.heading-wrap{
    padding: 130px;
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);    color: white;
    text-align: center;
    width: auto;
    

}
.eugene-photo{
    display: block;
    margin:  20px auto;
    min-width: 500px;
    
}
.btn-wrap {
   text-align: center;
   margin: 20px;
   
}
.self{
    max-width: 500px;
    max-height: 500px;
}
.about-heading{
    margin: 70px;
    padding-top: 80px;
}
.about{
    margin: 40px;
}

.closing{
    display: block;
    text-align: center;
    margin: 80px 150px;
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    font-size: 45px;
}
.closing-hero{
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    padding: 100px;
}
.footer-email a{

    text-decoration: none;
    color: black;
    margin: 45px;
}
.footer-email a:hover{
    color: rgb(19, 126, 57);
}
.footer-social a{
    text-decoration: none;
    color: rgb(19, 126, 57);
    background: rgb(151, 213, 241);
    margin: 0 20px;
    padding: 10px;
    border-radius: 50%;
}
.footer-social a:hover{
    color: rgb(145, 205, 233);
    background: rgb(19, 126, 57);
}


@media(max-width: 500px){
    .about-head{
        font-size: 18px;
    }
.img-fluid{
    margin: 0;
    display: none;
    
}
    .about-head{
        margin: 30px;
    }
    .about{
        margin: 15px;
        padding-top: 0;
    }
    .closing{
        font-size: 18px;
        padding: 0;
        margin: 0;
        margin-top: 15px;;
    }
    .closing-hero{
        padding: 75px;
    }
    h1,h2{
        font-size: 48px;
        text-align: center;
    }
    .heading-wrap{
      padding: 0;
    }
    .eugene-photo{
        width: 50%;
    }
  
}